<link rel="stylesheet" href="/public/main-css/style.csss">

<nav class="flex justify-center ">
    <% if (user){ %>
    <a href="/auth/logout">Logout</a>
    <a href="/category/new">Category</a>
    <a href="/quotes/new">Create Quotes</a>
    <a href="/quotes/all-quotes">All Quotes</a>
    <%= user.username %>


    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %>
    
</nav>