<nav>
    <% if (user){ %>
    <a href="/auth/logout">Logout</a>
    <a href="/authors">Authors</a>
    <a href="/quotes">Quotes</a>
    <%= user.username %>


    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %>
    
</nav>