<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main-css/style.css">

    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Update Quote</h1>

    <form action="/quotes/<%= quoteDetails._id %>?_method=PUT" method="post">
        <label for="quote">Quote: </label>
        <input type="text" name="quote" id="quote" required>

        <label for="authors">Author: </label>
        <input value="" type="text" name="authors" id="authors">

        <label for="category">Category:</label>
        <select name="category">
            <% allCategories.forEach((oneCategory) => { %>
                <option value="<%= oneCategory._id %>"><%= oneCategory.name %></option>
            <% }) %>
        </select>
    
    <button>Update</button>
    </form>
</body>
</html>